In [2]:
a=10
b=20
c=a+b
c

30

In [5]:
n=input("enter a")
m=input("enter b")
c=int(n)+int(m)
c

enter a   2
enter b   5

7

In [135]:
def fibo(n):
    if n<0:
        print("incorrect")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)
print(fibo(8))

13

In [22]:
start=int(input("start"))
end=int(input("end"))
for n in range(start, end+1):
    if n%2==0:
        print(n, end=" ")

start2
end30
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [23]:
start=int(input("start"))
end=int(input("end"))
for n in range(start, end+1):
    if n%2!=0:
        print(n, end=" ")

start1
end10
1 3 5 7 9

In [29]:
a=12
b=24
n=0
for i in range(1, min(a,b)+1):
    if a%i==b%i==0:   
        n+=1
print(n)

6

In [36]:
def _sum(array,n):
    return(sum(arr))
arr=[]
arr=[10,2,5,7]
n=len(arr)
ans= _sum(arr,n)
print("sum is" , ans )

sum is 24

In [7]:
def _factorial(n):
    return 1 if(n==1 or n==0) else n*_factorial(n-1);
    
n=4
print("the factorial is", _factorial(n))

the factorial is 24

In [ ]:
#palindrome

In [13]:
def reverse(s):
    return s[::-1]
def ispalindrome(s):
    rev=reverse(s)
    if(s==rev):
        return True
    return False
s="malayalam"
a=ispalindrome(s)
if a==1:
    print("yes")
else:
    print("no")

yes

In [108]:
x="malayalam"
p=""
for i in x:
    p=i+p
    if(x==p):
        print("yes")
        break
else:
    print("no")

yes

In [28]:
def isplain(str):
    for i in range(0, len(str)):
        if str[i]!=str[len(str)-i-1]:
            return False
    return True
str="moma"
a=isplain(str)
if(a):
    print("yes")
else:
    print("no")

no

In [67]:
var="poonam singh neghi "
len(var)

19

In [68]:
var.upper()

'POONAM SINGH NEGHI '

In [69]:
var.lower()

'poonam singh neghi '

In [70]:
var.rstrip()

'poonam singh neghi'

In [71]:
var.index("i")

8

In [72]:
var[::-2]

' he gi aop'

In [75]:
var[1:3]

'oo'

In [85]:
var[-2:-9:-2]

'ignh'

In [ ]:
#prime

In [95]:
count=0
for i in range(1,10):
    print(i)
    count=+1
    if count==5:
        break
print(count)

1
2
3
4
5
6
7
8
9
1

In [106]:
n=7
if n>1:
    
    for i in range(2, n):
        if(n % i == 0):
            print(n,"is a not a prime")
            break
    else:
        print(n,"is a prime num")
        
else:
    print(n,"is not prime")

7 is a prime num

In [111]:
l=10
h=50
for n in range(l,h+1):
    if(n>1):
        for i in range(2,n):
            if(n%i==0):
                break
        else:
            print(n)

11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#fibonacci

In [117]:
def fibo(n):
    a=0
    b=1
    if n<0:
        print("incorrect")
    elif n==0:
        return a
    elif n==1:
        return b
    else:
        for i in range(2,n):
            
            c=a+b
            a=b
            b=c
        return b
       
fibo(9)

21

In [123]:
def fib(n):
    if n<0:
        print("incorrect")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fib(n-1)+fib(n-2)
fib(5)

3

In [131]:
def fibo(n):
    f1=0
    f2=1
    if n<0:
        print("incoorect input")
    elif n>0:
        for x in range(1, n): 
            print(f2 , end = " ") 
            next = f1 + f2 
            f1 = f2 
            f2 = next
print(fibo(9))

1 1 2 3 5 8 13 21 None

In [ ]:
#list

In [138]:
list=[]
list
list.append(1)
list.append(3)
list
list.append((5,9))
list
list2=["geeks", "for", "geeks"]
list.append(list2)
list
list[2]=10
list

[1, 3, 10, ['geeks', 'for', 'geeks']]

In [164]:
#reverse a list without uisng slicing
def reverse(lst):
    lst.reverse()
    return lst
lst=[1,3,5,7,4]
reverse(lst)


def Reverse(lst): 
    return [e for e in reversed(lst)] 
      
# Driver Code 
lst = [10, 11, 12, 13, 14, 15] 
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [139]:
#dictonary

In [144]:
Dict={1:'geeks', 2: 'for', 3:'geeks', 4:{'a':'A', 'b':'B'}}
Dict

{1: 'geeks', 2: 'for', 3: 'geeks', 4: {'a': 'A', 'b': 'B'}}

In [145]:
Dict = {1: 'Geeks', 2: 'For',  
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}}

In [147]:
d={}
d[0]='abc'
d[2]='cbn'
d
d[0]='xyz'
d

{0: 'xyz', 2: 'cbn'}

In [156]:
Dict['value_set']=1,2,3
Dict

{1: 'Geeks',
 2: 'For',
 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'},
 'Value_set': (2, 3, 4),
 'value_set': (1, 2, 3)}

In [154]:
Dict['Value_set'] = 2, 3, 4
print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}, 'Value_set': (2, 3, 4), 'value_set': (1, 2, 3)}

In [157]:
Dict.get(1)

'Geeks'

In [168]:
#sort vs sorted sunction


vegetables = ['squash', 'pea', 'carrot', 'potato']
vegetables.sort()
vegetables
list=['apple', 'vege','banana']
new=sorted(list)
new

['apple', 'banana', 'vege']

In [158]:

tup = ('geek',) 
n = 5  #Number of time loop runs 
for i in range(int(n)): 
    tup = (tup,) 
    print(tup)

(('geek',),)
((('geek',),),)
(((('geek',),),),)
((((('geek',),),),),)
(((((('geek',),),),),),)

In [187]:

#count the even and odd in list


a=[10,20,3,5,6,8,9]
def num(a):
    ec=0
    oc=0
    for i in a:
        if i%2==0:
          
            ec=ec+1
            
        
        else:
            oc=oc+1
            
    print(ec)
    print(oc)
num(a)

4
3

In [190]:
#print even using lamda

list=[3,4,5,8,7]
even=[i for i in list if i%2==0]
print("even", even)

even [4, 8]

In [196]:
#armstrom


#Program to check Armstrong number of n digits
num = 1634
# Changed num variable to string,
# and calculated the length (number of digits)
order = len(str(num))
# initialize sum
sum = 0
# find the sum of the cube of each digit
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10
    temp
    # display the result
    if num == sum:
        print(num,"is an Armstrong number")
    else:
        print(num,"is not an Armstrong number")

TypeError: 'str' object is not callable

In [197]:
#oops concept

In [199]:
class Test:
    def test1(self):
        print("hello")
obj=Test()
obj.test1()

hello

In [208]:
class Person:
    def __init__(self, name):
        self.name=name
    def hi(self):
        print("name is", self.name)
p=Person('poonam')
p.hi()

name is poonam

In [209]:
class Demo:
    def __init__(self,age):
        self.age=age
    def hello(self):
        print("age is",self.age)
q=Demo('25')
q.hello()

age is 25